  
  {% extends "dashboard/dashboard.html" %}
  {% block title %}Manager Dashboard{% endblock title %}
  {% block tasks %}
  <!-- Task Table Section -->
  <div class="bg-white rounded-xl shadow-sm ">
    <div class="p-4 border-b border-gray-300 text-sm font-medium text-gray-600 grid grid-cols-4">
        <div class='text-teal-500'>TASK TITLE</div>
        <div>PRIORITY</div>
        <div>TEAM</div>
        <div class='text-blue-300'>CREATED AT</div>
    </div>
    <div class="divide-y divide-gray-200">
        <!-- Task Row -->
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 p-4 gap-4 items-center text-sm">
            <div class="flex items-center gap-2">
                <div class="w-2 h-2 bg-green-500 rounded-full"></div>
                <span class="text-gray-500 ">Test Low Task</span>
            </div>

            <div>
                <span class="px-3 py-1 bg-blue-50  rounded-full text-blue-600 text-sm">LOW</span>
            </div>

            <div> 
                <div class="flex -space-x-2">
                    <div class="w-8 h-8 rounded-full bg-blue-500 text-white font-semibold flex items-center justify-center text-sm border-2 border-white" >CA</div>

                    <div class="w-8 h-8 rounded-full bg-blue-500 text-white font-semibold flex items-center justify-center text-sm border-2 border-white" >JS</div>

                    <div class="w-8 h-8 rounded-full bg-blue-500 text-white font-semibold flex items-center justify-center text-sm border-2 border-white" >b</div>


                </div>
            </div>
            <div class="text-gray-500">9 Months age</div>
        </div>

        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 p-4 gap-4 items-center text-sm">
            <div class="flex items-center gap-2">
                <div class="w-2 h-2 bg-yellow-500 rounded-full"></div>
                <span class="text-gray-500 bg-red-200">Test Low Task</span>
            </div>

            <div>
                <span class="px-3 py-1 bg-yellow-50  rounded-full text-yellow-600 text-sm">NORMAL</span>
            </div>

            <div> 
                <div class="flex -space-x-2">
                    <div class="w-8 h-8 rounded-full bg-blue-500 text-white font-semibold flex items-center justify-center text-sm border-2 border-white" >CA</div>

                    <div class="w-8 h-8 rounded-full bg-blue-500 text-white font-semibold flex items-center justify-center text-sm border-2 border-white" >JS</div>

                    <div class="w-8 h-8 rounded-full bg-blue-500 text-white font-semibold flex items-center justify-center text-sm border-2 border-white" >b</div>


                </div>
            </div>
            <div class="text-gray-500">9 Months age</div>
        </div>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 p-4 gap-4 items-center text-sm">
            <div class="flex items-center gap-2">
                <div class="w-2 h-2 bg-red-500 rounded-full"></div>
                <span class="text-gray-500">Test Low Task</span>
            </div>

            <div>
                <span class="px-3 py-1 bg-red-50  rounded-full text-red-600 text-sm">HIGH</span>
            </div>

            <div> 
                <div class="flex -space-x-2">
                    <div class="w-8 h-8 rounded-full bg-blue-500 text-white font-semibold flex items-center justify-center text-sm border-2 border-white" >CA</div>

                    <div class="w-8 h-8 rounded-full bg-blue-500 text-white font-semibold flex items-center justify-center text-sm border-2 border-white" >JS</div>

                    <div class="w-8 h-8 rounded-full bg-blue-500 text-white font-semibold flex items-center justify-center text-sm border-2 border-white" >SR</div>
                    <div class="w-8 h-8 rounded-full bg-blue-500 text-white font-semibold flex items-center justify-center text-sm border-2 border-white" >b</div>
                    
                    


                </div>
            </div>
            <div class="text-gray-500">10 Months age</div>
        </div>
        <!-- Add more rows as needed -->
    </div>
</div>
{% endblock tasks %}